0207 n8n
{
  "name": "LINE 器",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-group-collector",
        "options": {}
      },
      "id": "270da600-c303-4b86-a6fd-3d12c1b2f32b",
      "name": "LINE Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -784,
        -64
      ],
      "webhookId": "24ad6d5a-9155-44b7-8585-28035030b153"
    },
    {
      "parameters": {
        "jsCode": "// Parse LINE webhook event\nconst events = $input.first().json.body?.events || [];\nconst results = [];\n\nfor (const event of events) {\n  if (event.type === 'message' && event.message?.type === 'text') {\n    const source = event.source || {};\n    \n    results.push({\n      timestamp: new Date(event.timestamp).toISOString(),\n      groupId: source.groupId || source.roomId || 'direct',\n      userId: source.userId || 'unknown',\n      messageType: event.message.type,\n      message: event.message.text || '',\n      replyToken: event.replyToken\n    });\n  }\n}\n\nreturn results.length > 0 ? results : [{ skip: true }];"
      },
      "id": "a7c5ba25-ab66-4ddf-a863-ca94ba5fb2d3",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8e796f8b-79fc-4c5f-9e83-b19bfedccacc",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -352,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "訊息暫存",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "groupId": "={{ $json.groupId }}",
            "userId": "={{ $json.userId }}",
            "message": "={{ $json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "groupId",
              "displayName": "groupId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d130457e-8b76-4afb-8fa1-591ccd90b14a",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -128,
        -80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "LINE Webhook": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Has Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message?": {
      "main": [
        [
          {
            "node": "Append to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "045b337db1b2137df2bcf09177f16bf68cbe9e27bc92ad426e9dd633638b802f"
  },
  "id": "suop_YkzQRQiLYricMFw2",
  "tags": []
}
